.popup__container{
    display: block;
    position: relative;
    /*animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;*/
    z-index: 2;
}

/*.popup__container::before{
    background-color: black;
    opacity: 0.5;
    content: "";
    position: absolute;
    left: -425px;
    top: -195px;
    width: 1280px;
    height: 720px;
    z-index: 0;
}*/



/*@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/*@media screen and (max-width: 320px) {
    .popup__container {
        left: 0;
        top: 0;
    }
}*/