.profile__about{
    margin: 0;
    margin-top: 16px;
    padding: 0;
    width: 336px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 320px) {
    .profile__about {
        width: 282px;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
    }
}