.popup__confirm{
    width: 358px;
    height: 50px;
    background-image: url(../../../images/delete_confirm_button.svg);
    border-radius: 2px;
}

@media screen and (max-width: 514px) {
    .popup__confirm {
        width: 238px;
        height: 46px;
        margin: 8px 22px 25px;
        background-image: url(../../../images/delete_confirm_button.svg);
    }
}