.popup__save{
    width: 358px;
    height: 50px;
    background-image: url(../../../images/save_button.svg);
    transition: opacity 0.3s linear;
    margin: 18px 36px 37px;
    border-radius: 2px;
}

.popup__save:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 514px) {
    .popup__save {
        width: 238px;
        height: 46px;
        margin: 28px 22px 25px;
        background-image: url(../../../images/save_button_mobile.svg);
    }
}