.popup__span-element{
    /*position: absolute;
    position: absolute;
    left: 100px;
    top: 100px;
    */
    /*display: inline;
    width: 358px;
    height: 12px;
    margin: 5px 36px 10px;
    white-space: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;*/
    position: absolute;
    width: 358px;
    top: 25px;
    left: 0;
    color: #ff0000;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    z-index: 100;
    overflow-wrap: break-word;      
}

@media screen and (max-width: 514px) {
    .popup__span-element {
        /*margin: -25px 22px 30px;*/
        top: 25px;
        width: 238px;
        margin-left: 21px;
    }
}