.popup__picture{
    display: flex;
    flex-direction: column;
    background-size: auto;
    max-width: 75vw;
    max-height: 75vh;
    /*position: fixed;
    top: 20%;*/
    align-self: center;
    background-position: center;
}