.popup__add-form{
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    width: 430px;
    height: 330px;
    margin: auto;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 2;
}


@media screen and (max-width: 514px) {
    .popup__add-form {
        width: 282px;
        height: 322px;
    }
}