.profile__container{
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    position: absolute;
    left: 425px;
    top: 195px;
    z-index: 2;
}

.profile__container::before{
    background-color: black;
    opacity: 0.5;
    content: "";
    position: absolute;
    left: -425px;
    top: -195px;
    width: 1280px;
    height: 720px;
    z-index: 0;
}

.profile__container.open{
    display: block;
}

.profile__container.close{
    display: none;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 320px) {
    .profile__container {
        left: 0;
        top: 0;
    }
}