.popup__span{
    position: absolute;
    display: inline;
    width: 358px;
    margin: 5px 36px 10px;
    white-space: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}

@media screen and (max-width: 514px) {
    .popup__span {
        margin: -25px 22px 30px;
    }
}