.footer__copyright{
    width: 318px;
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        min-width: 282px;
        min-height: 14px;
        font-size: 14px;
        line-height: 17px;
    }
}