.popup__save_invalid{
    background-image: url(../../../../images/save_button_invalid.svg);
    padding: 0;
}

@media screen and (max-width: 514px) {
    .popup__save_invalid {
        width: 238px;
        height: 46px;
        margin: 1px 22px 25px;
        background-image: url(../../../../images/save_button_invalid.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
    }
}