.profile__name{
    width: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    margin-right: 18px;
    padding: 0;
}

@media screen and (max-width: 879px) {
    .profile__name {
        width: fit-content;
        margin-right: 10px;
        /*margin-left: 100px;
        margin-bottom: 0;*/
        align-self: center;
        font-size: 27px;
        line-height: 33px;
    }
}

@media screen and (max-width: 320px) {
    .profile__name {
        width: 189px;
        margin-left: 40px;
        margin-right: 10px;
        margin-bottom: 0;
        font-size: 27px;
        line-height: 33px;
    }
}

