.profile__avatar{
    background-image: url(../../../images/profile_avatar.png);
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    border-radius: 100px; /* Радиус скругления */
    /*border: 3px solid ;  Параметры рамки */
}

@media screen and (max-width: 320px) {
    .profile__avatar {
        margin-right: 10px;
    }
}