.popup__exit{
    position: relative;
    background-color: transparent;
    border: none;
    background-image: url(../../../images/exit.svg);
    width: 32px;
    height: 32px;
    transition: opacity 0.3s linear;
    margin-right: 0;
    margin-left: 470px;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#popup__exit_picture{
    margin-right: -40px;
    margin-bottom: 8px;
}


.popup__exit:hover{
    opacity: 0.6;
    cursor: pointer;
}


@media screen and (max-width: 514px) {
    .popup__exit {
        position: relative;
        align-self: flex-end;
        width: 20px;
        height: 20px;
        background-image: url(../../../images/exit_mobile.svg);
        margin: 0;
        margin-bottom: 16px;
    }
    #popup__exit_picture{
        position: relative;
        margin-right: 0px;
        margin-bottom: 10px;
        align-self: flex-end;
        left: 0px;
        top: 0px;
        background-image: url(../../../images/exit_mobile.svg);
        
    }
}