.popup__input{
    /*width: 358px;
    /*height: 27px;
    margin: 0 36px 0px;
    padding: 0 0 13px 0;
    border: none;
    border-bottom: solid 2px #e1e1e1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;*/
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 0 0 43px 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    outline: none;
}

@media screen and (max-width: 514px) {
    .popup__input {
        width: 238px;
        margin: 0 22px 50px;
        padding: 0;
    }
}