.popup__save_valid{
    width: 358px;
    height: 50px;
    background-image: url(../../../../images/save_button.svg);
    background-color: black;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    padding: 0;
}

.popup__save_valid:disabled{
    background-image: url(../../../../images/save_button_invalid.svg);
}

@media screen and (max-width: 514px) {
    .popup__save_valid {
        width: 238px;
        height: 46px;
        margin: 8px 22px 25px;
        background-image: url(../../../../images/save_button_mobile.svg);
    }
    .popup__save_valid:disabled{
        width: 238px;
        height: 46px;
        margin: 8px 22px 25px;
        background-image: url(../../../../images/save_button_invalid.svg);
    }
}